@define-color transparent rgba(235, 219, 178, 0);
/* @define-color base #282828;
@define-color text #D4BE98;
@define-color focused #eba0ac;
@define-color button #7c6f64; */
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

window#waybar {
	background-color: @base;
	font-family: "Cantarell", "Font Awesome 5 Pro";
	font-size: 9pt;
	font-weight: bold;
	margin-top: 8px;
	min-height: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
	box-shadow: 0 0 0 0px;
}

#window {
	color: @text;
	background-color: @base;
	min-height: 0px;
	margin-top: 10px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 0px;
	border-radius: 0px;
	box-shadow: 0 0 0 0px;
}

#workspaces button.active {
	color: @text;
	background-color: @base;
	min-height: 0px;
	margin-top: -2px;
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: -13px;
	border-radius: 0px;
	box-shadow: 0 0 0 0px;
}

#workspaces button {
	color: @blue;
	background-color: @base;
	min-height: 0px;
	margin-top: -2px;
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: -13px;
	border-radius: 0px;
	box-shadow: 0 0 0 0px;
}

#workspaces button.focused {
	color: @base;
	background-color: @base;
	background: @focused;
	min-height: 0px;
	margin-top: -2px;
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: -13px;
	border-radius: 0px;
	box-shadow: 0 0 0 0px;
}

#workspaces {
	background-color: @base;
	color: @text;
	min-height: 0px;
	margin-top: 2px;
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: 0 0 0 0px;
}

#clock {
	color: @text;
	background-color: @base;
	min-height: 0px;
	margin-top: 8px;
	margin-left: 2px;
	margin-right: 13px;
	margin-bottom: 0px;
	border-radius: 0px;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: 0 0 0 0px;
}

#network {
	background-color: @base;
	color: @text;
	min-height: 0px;
	margin-top: 10px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 0px;
	border-radius: 0px;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: 0 0 0 0px;
}

#pulseaudio {
	background-color: @base;
	color: @text;
	min-height: 0px;
	margin-top: 10px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 0px;
	border-radius: 0px;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: 0 0 0 0px;
}

#pulseaudio.muted {
	background-color: @base;
	color: @text;
	min-height: 0px;
	margin-top: 10px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 0px;
	border-radius: 0px;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: 0 0 0 0px;
}

#backlight {
	background-color: @base;
	color: @text;
	min-height: 0px;
	margin-top: 10px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 0px;
	border-radius: 0px;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: 0 0 0 0px;
}

#battery {
	background-color: @base;
	color: @text;
	min-height: 0px;
	margin-top: 10px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 0px;
	border-radius: 0px;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: 0 0 0 0px;
}
